<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>John Gilcreast</title>
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href='{% static "mySite\css\style.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id='wrapper'>
      <div id='page'>
          <!-- Profile pic, navbar, and top image go here -->
        <div id='navbar'>
          <img src='{% static "mySite\img\placeholder.JPG" %}' alt='Welcome pic'>
          <ul>
            <li><a href='#tech'>Tech</a></li>
            <li><a href='#projects'>Projects</a></li>
            <li><a href='#contact'>Contact</a></li>
          </ul>
        </div>
        <div id='welcome'>
          <!-- Carosel pic, my intro text go here -->
          <p id='welcome-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
        <div id='tech'>
          <h2>Stuff I've learned</h2>
          <!-- Tech, stacks, languages, etc logos go here -->
          <div id='tech-stacks'>
            <div class='stack'>
              <div class='placeholder'></div>
              <h3>Python</h3>
              <p>Experience with Flash and Django frameworks</p>
            </div>
            <div class='stack' id='centerStack'>
              <div class='placeholder'></div>
              <h3>Ruby on Rails</h3>
              <p>Some exposure to TDD using RSpec, Capybara, and Factory Girl</p>
            </div>
            <div class='stack'>
              <div class='placeholder'></div>
              <h3>MEAN</h3>
              <p>Experience with Angular 4</p>
            </div>
          </div>
          <div id='language-list'>
            <div class='language'>
              <!-- Languages: HTML, CSS, Python, Ruby, Javascript, C++, SQL
              Front-end: Angular 4, Bootstrap, jQuery
              Back-end: Django, Flask, Ruby on Rails, NodeJS, MongoDB, Express, mySQL, SQLite PostgresSQL
              Other Technologies: BCrypt, RSpec, Capybara, Git -->

              <!-- HTML, CSS, Python, Ruby, Javascript, C++, SQL (some), Assembly (some), Angular 4, Bootstrap, jQuery
              Django, Flask, Ruby on Rails, NodeJS, MongoDB, Express, mySQL, SQLite PostgresSQL
              BCrypt, RSpec, Capybara, Git -->
              <!-- <img>LOGO</img> -->
              <div class="placeholder-lang"></div>
              <h4>TITLE</h4>
            </div>
          </div>
        </div>
        <div id='projects'>
          <h2>Things I've Done</h2>
          <!-- Project links/descriptions go here -->
          <div id='projects-header'></div>
          <div id='projects-list'>
            <div class='project'>
              <div class='placeholder'></div>
              <h3><a href='www.google.com'>This profile</a></h3>
              <p>Github links should go here too Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class='project'>
              <div class='placeholder'></div>
              <h3><a href='www.google.com'>Wabasha County Pet Shelter</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class='project'>
              <div class='placeholder'></div>
              <h3><a href='www.google.com'>Rangel's Rebar and Supplies</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class='project'>
              <div class='placeholder'></div>
              <h3>FilmSite</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
        <div id='footer'>
          <div id='contact'>
            Phone: (415)370-9235
            Email: JGilcreast@gmail.com
          </div>
          <a href='#page'>Back to top</a>
        </div>
      </div><!-- page div -->
    </div><!-- wrapper div -->
  </body>
</html>
